@media (max-width: 575px){
	.menu{
		position: static;

	}
	.menu a{
		width: 100%;
		padding: 20px 0px;
	}
	.header{
		padding: 100px 10px;
		margin-top: 0px;
		min-height: 300px;

	}
	.kart{
		width: 30%;
		height: 400px;
		margin-top: 20px;



	}
	.Team{
		text-align: center;
	}
	.tarif-card{
		width: 90%;

	}
	.periud{
		font-size: 20px;
	}
}